In [9]:
import pandas as pd

In [3]:
cust_csv = pd.read_csv(r'C:\Users\99617\Desktop\JUPYTER EXERCISE\CAPSTONE\capstone_dataset\customers_dataset.csv')
cust_csv.head(1)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP

In [15]:
cust_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [16]:
cust_csv.nunique()

customer_id                 99441
customer_unique_id          96096
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

In [17]:
order_csv = pd.read_csv(r'C:\Users\99617\Desktop\JUPYTER EXERCISE\CAPSTONE\capstone_dataset\order_items_dataset.csv') ##okay na merge_1
order_csv.head(1)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29

In [18]:
order_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [20]:
order_csv.nunique()

order_id               98666
order_item_id             21
product_id             32951
seller_id               3095
shipping_limit_date    93318
price                   5968
freight_value           6999
dtype: int64

In [21]:
order_payment_csv = pd.read_csv(r'C:\Users\99617\Desktop\JUPYTER EXERCISE\CAPSTONE\capstone_dataset\order_payments_dataset.csv') ##okay na merge_1
order_payment_csv.head(1)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33

In [22]:
order_payment_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [23]:
order_payment_csv.nunique()

order_id                99440
payment_sequential         29
payment_type                5
payment_installments       24
payment_value           29077
dtype: int64

In [25]:
order_data_csv = pd.read_csv(r'C:\Users\99617\Desktop\JUPYTER EXERCISE\CAPSTONE\capstone_dataset\orders_dataset.csv')
order_data_csv.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

In [26]:
prod_data_csv = pd.read_csv(r'C:\Users\99617\Desktop\JUPYTER EXERCISE\CAPSTONE\capstone_dataset\products_dataset.csv') ##okay na merge_4
prod_data_csv.head(1)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0

In [27]:
prod_categ = pd.read_csv(r'C:\Users\99617\Desktop\JUPYTER EXERCISE\CAPSTONE\capstone_dataset\product_category_name_translation.csv') ##okay na merge_4
prod_categ.head(1)

  product_category_name product_category_name_english
0          beleza_saude                 health_beauty

In [28]:
merge_4 = pd.merge(prod_data_csv, prod_categ,
                   left_on = 'product_category_name',
                   right_on = 'product_category_name',
                   how = 'inner')
merge_4.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art

In [29]:
merge_4.drop(['product_name_lenght','product_description_lenght','product_photos_qty','product_weight_g','product_length_cm',
'product_height_cm','product_width_cm',], axis=1, inplace = True)
merge_4.head(1)

,product_id,product_category_name,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,perfumery

In [31]:
merge_1 = pd.merge(order_csv, order_payment_csv,
                   left_on = 'order_id',
                   right_on = 'order_id',
                   how = 'inner')
merge_1.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,1,credit_card,2,72.19
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93,1,credit_card,3,259.83

In [32]:
merge_2 = pd.merge(merge_1, merge_4,
                   left_on = 'product_id',
                   right_on = 'product_id',
                   how = 'inner')
merge_2.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,1,credit_card,2,72.19,cool_stuff,cool_stuff
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93,1,credit_card,3,259.83,pet_shop,pet_shop

In [33]:
merge_3 = pd.merge(merge_2, order_data_csv,
                   left_on = 'order_id',
                   right_on = 'order_id',
                   how = 'inner')
merge_3.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_category_name_english,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,1,credit_card,2,72.19,cool_stuff,cool_stuff,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93,1,credit_card,3,259.83,pet_shop,pet_shop,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00

In [34]:
merge_final = pd.merge(cust_csv, merge_3,
                   left_on = 'customer_id',
                   right_on = 'customer_id',
                   how = 'inner')
merge_final.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_item_id,product_id,seller_id,shipping_limit_date,...,payment_installments,payment_value,product_category_name,product_category_name_english,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,...,2,146.87,moveis_escritorio,office_furniture,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,...,8,335.48,utilidades_domesticas,housewares,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00

In [35]:
merge_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115878 entries, 0 to 115877
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   customer_id                    115878 non-null  object
 1   customer_unique_id             115878 non-null  object
 2   customer_zip_code_prefix       115878 non-null  int64
 3   customer_city                  115878 non-null  object
 4   customer_state                 115878 non-null  object
 5   order_id                       115878 non-null  object
 6   order_item_id                  115878 non-null  int64
 7   product_id                     115878 non-null  object
 8   seller_id                      115878 non-null  object
 9   shipping_limit_date            115878 non-null  object
 10  price                          115878 non-null  float64
 11  freight_value                  115878 non-null  float64
 12  payment_sequential             115878 non-null  int64
 13  payment_type                   115878 non-null  object
 14  payment_installments           115878 non-null  int64
 15  payment_value                  115878 non-null  float64
 16  product_category_name          115878 non-null  object
 17  product_category_name_english  115878 non-null  object
 18  order_status                   115878 non-null  object
 19  order_purchase_timestamp       115878 non-null  object
 20  order_approved_at              115864 non-null  object
 21  order_delivered_carrier_date   114673 non-null  object
 22  order_delivered_customer_date  113383 non-null  object
 23  order_estimated_delivery_date  115878 non-null  object
dtypes: float64(3), int64(4), object(17)
memory usage: 21.2+ MB

In [36]:
merge_final.drop(['customer_zip_code_prefix','price','freight_value','product_category_name','seller_id','shipping_limit_date','order_estimated_delivery_date','order_approved_at'], axis=1, inplace = True)
merge_final.head(1)

,customer_id,customer_unique_id,customer_city,customer_state,order_id,order_item_id,product_id,payment_sequential,payment_type,payment_installments,payment_value,product_category_name_english,order_status,order_purchase_timestamp,order_delivered_carrier_date,order_delivered_customer_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,franca,SP,00e7ee1b050b8499577073aeb2a297a1,1,a9516a079e37a9c9c36b9b78b10169e8,1,credit_card,2,146.87,office_furniture,delivered,2017-05-16 15:05:35,2017-05-23 10:47:57,2017-05-25 10:35:35

In [40]:
merge_final['order_id'].nunique()

97255

In [41]:
merge_final['product_id'].nunique()

32328

In [42]:
merge_final['customer_id'].nunique()

97255

In [43]:
merge_final['customer_unique_id'].nunique()

94087

In [49]:
merge_final['customer_id'] = merge_final['customer_id'].str[-15:]
merge_final['order_id'] = merge_final['order_id'].str[-15:]
merge_final['product_id'] = merge_final['product_id'].str[-15:]
merge_final['customer_unique_id'] = merge_final['customer_unique_id'].str[-15:]

print("Number of unique in cust_id",merge_final['customer_id'].nunique())
print("Number of unique in order_id",merge_final['order_id'].nunique())
print("Number of unique in prod_id",merge_final['product_id'].nunique())
print("Number of unique in cust_un_id",merge_final['customer_unique_id'].nunique())

Number of unique in cust_id 97255
Number of unique in order_id 97255
Number of unique in prod_id 32328
Number of unique in cust_un_id 94087

In [50]:
merge_final.head()

,customer_id,customer_unique_id,customer_city,customer_state,order_id,order_item_id,product_id,payment_sequential,payment_type,payment_installments,payment_value,product_category_name_english,order_status,order_purchase_timestamp,order_delivered_carrier_date,order_delivered_customer_date
0,c88172c00ba8bc7,93843c6dd7febb0,franca,SP,77073aeb2a297a1,1,36b9b78b10169e8,1,credit_card,2,146.87,office_furniture,delivered,2017-05-16 15:05:35,2017-05-23 10:47:57,2017-05-25 10:35:35
1,def6b18a428ac77,5b93aa66c333dc3,sao bernardo do campo,SP,6eab3eec79f59c7,1,f9dc4bffebc05b0,1,credit_card,8,335.48,housewares,delivered,2018-01-12 20:48:24,2018-01-15 17:14:59,2018-01-29 12:41:19
2,08712fdd0374a03,a18229c7b0b2b5e,sao paulo,SP,e2aa97d2c9e9ad2,1,f5b86251848ced7,1,credit_card,7,157.73,office_furniture,delivered,2018-05-19 16:07:45,2018-06-11 14:31:00,2018-06-14 17:58:51
3,29d4dc6358b12c3,702b9acbbff3f3c,mogi das cruzes,SP,a63112aa7306eba,1,e0a3a4751a09e2e,1,credit_card,1,173.30,office_furniture,delivered,2018-03-13 16:06:38,2018-03-27 23:22:42,2018-03-28 16:04:25
4,64f7c12e35b23ad,36ed96c73b8d066,campinas,SP,33cebabd7e49d0f,1,56e38d84d7d5b3b,1,credit_card,8,252.25,home_confort,delivered,2018-07-29 09:51:30,2018-07-30 15:16:00,2018-08-09 20:55:48

In [51]:
merge_final.to_csv('capstone_clean_data.csv', index=False)